@charset "UTF-8";
* { /** Звёздочка обозначает ,что обращаемся ко всем тегам*/
  padding: 0; /*внутренний отступ*/
  margin: 0; /*внешний отступ*/
  border: 0; /*выделение с помощью рамки*/
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /*меняет подсчёт ширины блока*/
}

/*убираем линии обводки*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
} /*делает эти теги блочными*/
html, body {
  height: 100%; /*высота*/
  width: 100%; /*ширина*/
  font-size: 100%; /*размер шрифта*/
  line-height: 1; /*размер отступа сверху и снизу*/
  font-size: 14px; /*размер шрифта*/
  -ms-text-size-adjust: 100%; /*для более удобной работы с шрифтом на мобильных устройств*/
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
} /*наследовать семейство шрифта*/
input::-ms-clear {
  display: none;
} /*убирает крестик в интернет экс*/
button {
  cursor: pointer;
} /*убирает отступы для кнопок в файрфоксе*/
button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
  border-width: 1px;
} /*уменьшает кнопку в файрфокс*/
/*Для ссылок запомнить LoVe Fears HAte(снача link потом visited ,focus,hover,active)*/
a, a:visited {
  text-decoration: none;
} /*типизация ссылок*/
a:hover {
  text-decoration: none;
} /*типизация ссылок*/
ul li {
  list-style: none;
} /*очистка стилей маркированных списков*/
img {
  vertical-align: top;
} /*выравнивет картинку по вертикали*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
} /*обнуление всех заголовков*/
a {
  color: black;
}

html, body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(19.91%, #43D000), to(rgba(252, 255, 92, 0)));
  background: linear-gradient(180deg, #43D000 19.91%, rgba(252, 255, 92, 0) 100%);
  margin: 0px auto;
}

.container {
  margin: 0 auto;
  max-width: 1864px;
}

.shapka__vibor_verh {
  position: relative;
  font-size: 280%;
  color: #010101;
  font-family: "Inter", sans-serif;
  height: 100px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25%;
}

.vibor_knopki {
  margin: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25%;
}

.shapka {
  border: 3px solid black;
  background: rgba(236, 255, 13, 0.7);
  position: sticky;
  top: 0;
  opacity: 70%;
  z-index: 0;
}

.shapka__logo img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.shapka__main {
  opacity: 30%;
}

.shapka__profil {
  opacity: 30%;
}

.shapka__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5% 0 0 60px;
  padding: 5px;
  width: 200px;
  height: 80%;
  font-size: 80%;
  background: rgba(103, 156, 62, 0.5);
  border: 3px solid black;
  border-radius: 40px;
}

.shapka__profil:hover {
  opacity: 100%;
  background: rgba(54, 146, 85, 0.6);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka__uslugi:hover {
  text-decoration: line-through;
  text-decoration-color: rgb(54, 146, 85);
}

.shapka__button:hover {
  opacity: 100%;
  background: rgb(54, 146, 85);
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka:hover {
  opacity: 100%;
  background: rgba(236, 255, 13, 0.7);
}

.shapka__main:hover {
  opacity: 100%;
  background: rgba(54, 146, 85, 0.6);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka__logo img:hover {
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
  background-color: rgba(54, 146, 85, 0.6);
}

.scheme {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-family: Comfortaa;
  font-size: 340%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2.5% 0;
}
.scheme_head {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 39%;
  padding: 1%;
  margin: auto;
}
.scheme_arrow {
  margin: -0.5% 0 0 0;
  gap: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scheme_headling {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scheme_headling1 {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 23%;
  padding: 1%;
  margin: auto;
  text-align: center;
}
.scheme_headling2 {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 28%;
  padding: 1%;
  margin: auto;
  text-align: center;
}

.arrow {
  margin: -0.5% 0 0 -1%;
  gap: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 70%;
}
.arrow_1 {
  gap: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrow_2 {
  gap: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.exp {
  position: relative;
  z-index: -2;
  margin: 0 2%;
  color: #000;
  font-family: Inter;
  font-size: 50%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9%;
}
.exp_left {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18%;
}
.exp_right_left h2 {
  color: #000;
  text-align: center;
  font-size: 150%;
  font-weight: 700;
  padding: 1%;
}
.exp_right_left {
  border-radius: 30px;
  border: 3px solid #F00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.17%, #FFBE5C), color-stop(106.81%, rgba(255, 190, 92, 0)));
  background: linear-gradient(180deg, #FFBE5C 31.17%, rgba(255, 190, 92, 0) 106.81%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  height: auto;
  padding: 2%;
  text-align: center;
}
.exp_right {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16%;
}

.knopka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19%;
  margin: 0 7%;
}
.knopka_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.knopka_left_right {
  display: block;
}
.knopka_left_left1 {
  display: block;
}
.knopka_left_right1 {
  display: block;
}
.knopka_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  padding: 16px 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #FC6E51;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease;
}
.button:focus, .button:hover {
  background: #fb512e;
}
.button:active:after {
  width: 300px;
  height: 300px;
}

@media (max-width: 1280px) {
  .scheme {
    font-size: 280%;
  }
  .scheme_headling2 {
    width: 33%;
  }
  .arrow {
    margin: -0.5% 40%;
    gap: 180%;
  }
  .arrow_1 {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18%;
  }
  .arrow_2 {
    gap: 18%;
  }
  .button {
    font-size: 35%;
    padding: 12px;
  }
  .knopka {
    margin: 0 4.5%;
    gap: 17%;
  }
  .container {
    max-width: 1280px;
  }
  .shapka__vibor_verh {
    gap: 10%;
    font-size: 250%;
  }
  .shapka__logo img {
    width: 93%;
  }
  .shapka {
    height: 100px;
  }
  .shapka__button {
    font-size: 75%;
    height: 80px;
    width: 160px;
  }
  .vibor_knopki {
    gap: 20%;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 1080px) {
  .scheme {
    font-size: 240%;
  }
  .scheme_headling1 {
    width: 28%;
  }
  .scheme_headling2 {
    width: 33%;
  }
  .arrow {
    margin: -0.5% 40%;
    gap: 180%;
  }
  .arrow_1 {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18%;
  }
  .arrow_2 {
    gap: 18%;
  }
  .button {
    font-size: 30%;
    padding: 10px;
  }
  .knopka {
    margin: 0 4%;
    gap: 17%;
  }
  .container {
    max-width: 1024px;
  }
  .shapka__vibor_verh {
    gap: 5%;
    font-size: 230%;
  }
  .shapka__logo img {
    width: 93%;
  }
  .shapka {
    height: 100px;
  }
  .shapka__button {
    font-size: 80%;
    height: 80px;
    width: 160px;
  }
  .vibor_knopki {
    gap: 8%;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 890px) {
  .exp_left {
    width: 10%;
    gap: 50%;
  }
  .exp_right {
    width: 10%;
    gap: 45%;
  }
  .exp_right_left {
    min-width: 170px;
  }
  .exp {
    font-size: 60%;
    gap: 41%;
    margin: 0 10px;
  }
  .scheme_arrow img {
    width: 200px;
    margin: -4px 0;
  }
  .arrow img {
    margin: -5px 0;
    width: 120px;
  }
  .scheme {
    font-size: 240%;
  }
  .scheme_headling1 {
    width: 28%;
  }
  .scheme_headling2 {
    width: 45%;
  }
  .arrow {
    gap: 100%;
  }
  .arrow_1 {
    position: relative;
    width: 50%;
    margin: 5px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10%;
  }
  .arrow_2 {
    gap: 8%;
    margin: 5px;
  }
  .button {
    font-size: 35%;
    padding: 10px;
  }
  .knopka {
    margin: 0 24px;
    gap: 12%;
  }
  .container {
    max-width: 820px;
  }
  .shapka__vibor_verh {
    gap: 10%;
    font-size: 200%;
  }
  .shapka__logo img {
    width: 93%;
  }
  .shapka {
    height: 100px;
  }
  .shapka__button {
    font-size: 100%;
    height: 80px;
    width: 160px;
  }
  .vibor_knopki {
    gap: 8%;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 790px) {
  .exp_left {
    width: 10%;
    gap: 50%;
  }
  .exp_right {
    width: 10%;
    gap: 45%;
  }
  .exp_right_left {
    min-width: 170px;
  }
  .exp {
    font-size: 60%;
    gap: 41%;
    margin: 0 10px;
  }
  .scheme_arrow img {
    width: 200px;
    margin: -4px 0;
  }
  .arrow img {
    margin: -5px 0;
    width: 120px;
  }
  .scheme {
    font-size: 240%;
  }
  .scheme_headling1 {
    width: 28%;
  }
  .scheme_headling2 {
    width: 45%;
  }
  .arrow {
    gap: 100%;
  }
  .arrow_1 {
    position: relative;
    width: 50%;
    margin: 5px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10%;
  }
  .arrow_2 {
    gap: 8%;
    margin: 5px;
  }
  .button {
    font-size: 35%;
    padding: 10px;
  }
  .knopka {
    margin: 0 24px;
    gap: 12%;
  }
  .container {
    max-width: 790px;
  }
  .shapka__vibor_verh {
    gap: 3%;
    font-size: 200%;
  }
  .shapka__logo img {
    width: 93%;
  }
  .shapka {
    height: 100px;
  }
  .shapka__button {
    font-size: 100%;
    height: 80px;
    width: 160px;
  }
  .vibor_knopki {
    gap: 4%;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 480px) {
  .exp_left {
    width: 10%;
    gap: 20%;
  }
  .exp_right {
    width: 10%;
    gap: 45%;
  }
  .exp_right_left {
    min-width: 105px;
  }
  .exp {
    font-size: 80%;
    gap: 41%;
    margin: 0 5px;
  }
  .scheme_arrow img {
    width: 100px;
    margin: -4px 0;
  }
  .arrow img {
    margin: -5px 0;
    width: 80px;
  }
  .scheme {
    font-size: 120%;
  }
  .scheme_headling1 {
    width: 28%;
  }
  .scheme_headling2 {
    width: 35%;
  }
  .arrow {
    gap: 100%;
  }
  .arrow_1 {
    position: relative;
    width: 50%;
    margin: 5px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10%;
  }
  .arrow_2 {
    gap: 8%;
    margin: 5px;
  }
  .button {
    font-size: 35%;
    padding: 10px;
  }
  .knopka {
    margin: 0 24px;
    gap: 12%;
  }
  .container {
    width: 480px;
  }
  .shapka__vibor_verh {
    gap: 0%;
    font-size: 110%;
    margin: 0 130px 0 0;
  }
  .vibor_knopki {
    padding: 10px 0 0 0;
  }
  .shapka__logo img {
    width: 60%;
  }
  .shapka {
    height: 60px;
  }
  .shapka__button {
    height: 46px;
    width: 100px;
    margin: 5px -130px 0 0;
  }
  .vibor_knopki {
    gap: 8%;
  }
}