@charset "UTF-8";
* { /** Звёздочка обозначает ,что обращаемся ко всем тегам*/
  padding: 0; /*внутренний отступ*/
  margin: 0; /*внешний отступ*/
  border: 0; /*выделение с помощью рамки*/
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /*меняет подсчёт ширины блока*/
}

/*убираем линии обводки*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
} /*делает эти теги блочными*/
html, body {
  height: 100%; /*высота*/
  width: 100%; /*ширина*/
  font-size: 100%; /*размер шрифта*/
  line-height: 1; /*размер отступа сверху и снизу*/
  font-size: 14px; /*размер шрифта*/
  -ms-text-size-adjust: 100%; /*для более удобной работы с шрифтом на мобильных устройств*/
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
} /*наследовать семейство шрифта*/
input::-ms-clear {
  display: none;
} /*убирает крестик в интернет экс*/
button {
  cursor: pointer;
} /*убирает отступы для кнопок в файрфоксе*/
button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
  border-width: 1px;
} /*уменьшает кнопку в файрфокс*/
/*Для ссылок запомнить LoVe Fears HAte(снача link потом visited ,focus,hover,active)*/
a, a:visited {
  text-decoration: none;
} /*типизация ссылок*/
a:hover {
  text-decoration: none;
} /*типизация ссылок*/
ul li {
  list-style: none;
} /*очистка стилей маркированных списков*/
img {
  vertical-align: top;
} /*выравнивет картинку по вертикали*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
} /*обнуление всех заголовков*/
a {
  color: black;
}

html {
  height: 100%;
  display: block;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(19.91%, #43D000), to(rgba(9, 9, 9, 0.8)));
  background: linear-gradient(180deg, #43D000 19.91%, rgba(9, 9, 9, 0.8) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

.shapka {
  width: 100%;
  height: 100px;
  border: 3px solid black;
  background: rgba(236, 255, 13, 0.5);
  position: sticky;
  top: 0;
  opacity: 70%;
  z-index: 1;
}

.shapka__logo {
  position: static;
}

.shapka__logo img {
  display: block;
  z-index: -1;
  width: 130px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.shapka__vibor_verh {
  position: fixed;
  top: -20px;
  left: 150px;
  font-size: 40px;
  color: #010101;
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-weight: 400;
  line-height: normal;
}

.shapka__main {
  margin: 50px;
  opacity: 30%;
}

.shapka__profil {
  margin: 50px;
  opacity: 30%;
}

.shapka__uslugi {
  margin: 50px;
}

.shapka__button {
  position: fixed;
  right: 0;
  top: 20px;
  font-size: 30px;
  background: rgba(103, 156, 62, 0.5);
  border: 3px solid black;
  border-radius: 40px;
  width: 200px;
}

.shapka__profil:hover {
  opacity: 100%;
  background: rgba(54, 146, 85, 0.6);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka__uslugi:hover {
  text-decoration: line-through;
  text-decoration-color: rgb(54, 146, 85);
}

.shapka__button:hover {
  opacity: 100%;
  background: rgb(54, 146, 85);
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka:hover {
  opacity: 100%;
  background: rgba(236, 255, 13, 0.7);
}

.shapka__main:hover {
  opacity: 100%;
  background: rgba(54, 146, 85, 0.6);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px 3px black;
  box-shadow: 3px 3px 7px 3px black;
}

.shapka__logo img:hover {
  width: 195px;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
  background-color: rgba(54, 146, 85, 0.6);
}

.scheme {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  font-family: Comfortaa;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 50px;
}
.scheme_head {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 700px;
  height: 100px;
  padding: 10px;
  margin: auto;
}
.scheme_arrow {
  margin: -15px 0 0 0;
  gap: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scheme_headling {
  margin: -15px 0 0 20px;
  gap: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scheme_headling1 {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 400px;
  height: 130px;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.scheme_headling2 {
  display: block;
  border-radius: 40px;
  border: 3px solid #000;
  background: rgba(252, 255, 92, 0.5);
  width: 500px;
  height: 130px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.arrow {
  margin: -10px 0 0 15px;
  gap: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 80%;
}
.arrow_1 {
  gap: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrow_2 {
  gap: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.exp {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.exp_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.exp_right_left h2 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.exp_right_left {
  border-radius: 30px;
  border: 3px solid #F00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.17%, #FFBE5C), color-stop(106.81%, rgba(255, 190, 92, 0)));
  background: linear-gradient(180deg, #FFBE5C 31.17%, rgba(255, 190, 92, 0) 106.81%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  width: 350px;
  height: auto;
  padding: 20px;
  text-align: center;
}
.exp_right_right h2 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.exp_right_right {
  border-radius: 30px;
  border: 3px solid #F00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.17%, #FFBE5C), color-stop(106.81%, rgba(255, 190, 92, 0)));
  background: linear-gradient(180deg, #FFBE5C 31.17%, rgba(255, 190, 92, 0) 106.81%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
}
.exp_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.exp_right_left1 h2 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.exp_right_left1 {
  border-radius: 30px;
  border: 3px solid #F00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.17%, #FFBE5C), color-stop(106.81%, rgba(255, 190, 92, 0)));
  background: linear-gradient(180deg, #FFBE5C 31.17%, rgba(255, 190, 92, 0) 106.81%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
}
.exp_right_right2 h2 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.exp_right_right2 {
  border-radius: 30px;
  border: 3px solid #F00;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.17%, #FFBE5C), color-stop(106.81%, rgba(255, 190, 92, 0)));
  background: linear-gradient(180deg, #FFBE5C 31.17%, rgba(255, 190, 92, 0) 106.81%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
}